doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='dns-prefetch', href='//ajax.googleapis.com')
    link(rel='dns-prefetch', href='//code.jquery.com')
    link(rel='dns-prefetch', href='//cdnjs.cloudflare.com')
    link(rel="stylesheet" href="/styles/main.css")
    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap', rel='stylesheet', type='text/css')
    block pageTitle
      title= title + " — Open Budget Sacramento"

    script(src='/js/vendor/jquery.min.js', defer)
    script(src='/js/vendor/jquery-migrate-1.2.1.min.js', defer)
    script(src='/js/vendor/bootstrap.min.js', defer)
    script(src='/js/i18n-site.js')
  
  block bodyClass
    // - define slug here
    - var slug = ""

  body(class= slug)
    a.skip-link(href='#main-content', data-i18n='ui.skipToMain') Skip to main content
    #wrapper
      nav.main-nav(role='navigation', aria-label='Primary', data-i18n-aria-label='ui.primaryNavigation')
        .navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(
                type='button',
                data-toggle='collapse',
                data-target='#primary-nav',
                aria-controls='primary-nav',
                aria-expanded='false',
                data-i18n-aria-label='ui.toggleNavigation'
              )
                span.sr-only(data-i18n='ui.toggleNavigation') Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/', data-i18n='ui.siteBrand') Open Budget: Sacramento

            #primary-nav.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span(data-i18n='nav.about') About
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/who-we-are', data-i18n='nav.whoWeAre') Who We Are
                    li
                      a(href='/contact', data-i18n='nav.contactUs') Contact Us

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span(data-i18n='nav.data') Data
                    b.caret
                  ul.dropdown-menu
                    li
                      a(
                        href='https://www.cityofsacramento.org/-/media/Corporate/Files/Finance/Budget/FY2022_23_ApprovedBudget_Revised_WEB.pdf?la=en',
                        target='_blank',
                        rel='noopener noreferrer',
                        title='City of Sacramento Department of Finance',
                        aria-label='City of Sacramento Department of Finance',
                        data-i18n-title='links.cityFinanceDepartment',
                        data-i18n-aria-label='links.cityFinanceDepartment'
                      ) City of Sacramento Department of Finance
                    li
                      a(
                        href='https://www.cityofsacramento.org/Finance/Budget',
                        title='City of Sacramento Budget',
                        aria-label='City of Sacramento Budget',
                        data-i18n-title='links.cityBudget',
                        data-i18n-aria-label='links.cityBudget'
                      ) City of Sacramento Budget
                    li
                      a(
                        href='https://data.cityofsacramento.org/datasets/7b8b3680603c4894bd3faaa41c986c7c_0/explore',
                        title='Recent Sacramento Budget Data',
                        aria-label='Recent Sacramento Budget Data',
                        data-i18n-title='links.recentBudgetData',
                        data-i18n-aria-label='links.recentBudgetData'
                      ) Recent Sacramento Budget Data

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span(data-i18n='nav.resources') Resources
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/tools-projects', data-i18n='nav.toolsProjects') Tools and Projects

                li
                  label.sr-only(for='locale-selector-main', data-i18n='ui.language') Language
                  select#locale-selector-main.form-control.input-sm(data-locale-selector, aria-label='Language', data-i18n-aria-label='ui.language')
                    option(value='en-US', data-i18n='ui.english') English (US)
                    option(value='es-419', data-i18n='ui.spanishLatam') Español (Latinoamérica)

      main#main-content(role='main', tabindex='-1')
        block content
      
      #wrapper-footer

    footer#footer(role='contentinfo')
      .container
        .row
          .col-md-6.col-sm-9
            p(data-i18n-html='footer.aboutProjectHtml')
              | Open Budget: Sacramento is an open-source project by#{' '}
              a(href="https://opensac.org/") Open Sacramento
              |  that seeks to help residents understand Sacramento's spending
              |  and budget process better. This application is a clone of#{' '}
              a(href="https://openbudgetoakland.org/") Open Budget Oakland
              | , from #{' '}
              a(href="https://openoakland.org/") OpenOakland.  


            ul.list-inline
              li
                a.social-link(href="https://www.x.com/opensacorg", target='_blank', rel='noopener noreferrer', aria-label='Code for Sacramento on X (formerly Twitter)', data-i18n-aria-label='social.x')
                  picture
                    source(srcset="/images/global/x-icon.svg", type="image/svg+xml")
                    img.social-icon(src="/images/global/twitter-icon.png" alt="X (formerly Twitter)" data-i18n-alt='social.xAlt' loading='lazy' decoding='async' width='22' height='22')
              li
                a.social-link(href="https://github.com/code4sac/openbudgetsac.org/", target='_blank', rel='noopener noreferrer', aria-label='Code for Sacramento on GitHub', data-i18n-aria-label='social.github')
                  img.social-icon(src="/images/global/github-icon.png" alt="GitHub" data-i18n-alt='social.githubAlt' loading='lazy' decoding='async' width='22' height='22')


          .col-sm-3.col-md-push-3
            ul.list-unstyled
              li
                a(href="/who-we-are", data-i18n='nav.aboutProject') About the Project
              li
                a(href="https://www.meetup.com/Code4Sac/", data-i18n='nav.getInvolved') Get Involved
              li
                a(href="/feedback", data-i18n='nav.giveFeedback') Give Feedback
