doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='dns-prefetch', href='//ajax.googleapis.com')
    link(rel='dns-prefetch', href='//code.jquery.com')
    link(rel='dns-prefetch', href='//cdnjs.cloudflare.com')
    link(rel="stylesheet" href="/styles/main.css")
    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap', rel='stylesheet', type='text/css')
    block pageTitle
      title= title + " — Open Budget Sacramento"

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', defer)
    script(src='https://code.jquery.com/jquery-migrate-1.2.1.js', defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js', defer)
  
  block bodyClass
    // - define slug here
    - var slug = ""

  body(class= slug)
    a.skip-link(href='#main-content') Skip to main content
    #wrapper
      nav.main-nav(role='navigation', aria-label='Primary')
        .navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(
                type='button',
                data-toggle='collapse',
                data-target='#primary-nav',
                aria-controls='primary-nav',
                aria-expanded='false'
              )
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Open Budget: Sacramento

            #primary-nav.navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | About
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/who-we-are') Who We Are
                    li
                      a(href='/contact') Contact Us

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Data
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='https://www.cityofsacramento.org/-/media/Corporate/Files/Finance/Budget/FY2022_23_ApprovedBudget_Revised_WEB.pdf?la=en', target='_blank', rel='noopener noreferrer') City of Sacramento Department of Finance
                    li
                      a(href='https://www.cityofsacramento.org/Finance/Budget') City of Sacramento Budget  
                    li
                      a(href='https://data.cityofsacramento.org/datasets/7b8b3680603c4894bd3faaa41c986c7c_0/explore') Recent Sacramento Budget Data

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Resources
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/tools-projects') Tools and Projects

      main#main-content(role='main', tabindex='-1')
        block content
      
      #wrapper-footer

    footer#footer(role='contentinfo')
      .container
        .row
          .col-md-6.col-sm-9
            p
              | Open Budget: Sacramento is an open-source project by#{' '}
              a(href="https://opensac.org/") Open Sacramento
              |  that seeks to help residents understand Sacramento's spending
              |  and budget process better. This application is a clone of#{' '}
              a(href="https://openbudgetoakland.org/") Open Budget Oakland
              | , from #{' '}
              a(href="https://openoakland.org/") OpenOakland.  


            ul.list-inline
              li
                a(href="https://twitter.com/code4sac")
                  img(src="/images/global/twitter-icon.png" alt="twitter" loading='lazy' decoding='async')
              li
                a(href="https://github.com/code4sac/openbudgetsac.org/")
                  img(src="/images/global/github-icon.png" alt="github" loading='lazy' decoding='async')


          .col-sm-3.col-md-push-3
            ul.list-unstyled
              li
                a(href="/who-we-are") About the Project
              li
                a(href="https://www.meetup.com/Code4Sac/") Get Involved
              li
                a(href="/feedback") Give Feedback
