extends partials/layout

prepend pageTitle
  - var title = "Feedback"

block bodyClass
  - var slug = "feedback"

block content
  .container

    .row
      .col-md-8.col-sm-12
        div
          h2.subheader How would you use Open Budget? 
          p.alert.alert-warning(role='alert')
            strong Feedback form notice:
            |  If this embedded form fails to load, use the direct link below to submit your input.
          p
            | Submit feedback with the form below, or open it directly in a new tab.
            br
            a(href='https://openbudgetsac.wufoo.com/forms/za3gq4n1oevxis/', target='_blank', rel='noopener noreferrer')
              | Open feedback form
          iframe(
            title='Open Budget Sacramento Feedback Form'
            data-i18n-title='feedback.formTitle'
            src='https://openbudgetsac.wufoo.com/forms/za3gq4n1oevxis/'
            width='100%'
            height='700'
            frameborder='0'
            marginheight='0'
            marginwidth='0'
          )
            span(data-i18n='feedback.loadingForm') Loading feedback form...

        #disqus_thread(data-disqus-identifier='Open Budget: Sacramento feedback')

  script(src='/js/disqus-loader.js', charset='utf-8', defer)
  noscript
    | Please enable JavaScript to view the
    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
